<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %>  <a href="/arts/new/">NEW</a> </h1>


	<table class="table">
		<thead>
		  <tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Body</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
			<% docs.forEach(doc => { %>

				<tr>
					<th scope="row"><%= doc._id %></th>
					<td><%= doc.title  %></td>
					<td><%= doc.body  %></td>
					<td>	
						<a class="btn btn-info" href="/arts/detail/<%= doc._id %>">detail</a> 
						<a class="btn btn-warning" href="/arts/edit/<%= doc._id %>">edit</a>
						<a class="btn btn-danger" href="/arts/delete/<%= doc._id %>">delete</a>
					</td>
				</tr>
			<% }) %>

		</tbody>
	  </table>


<!-- 	
    <ul>
	<% for(var i=0; i<docs.length; i++) {%>
		<%var doc = docs[i]%>
	   <li>
	    	<p align="center"><b><%= doc.title %> </b> </p> <%= doc.body %><div align="right">
				<a class="btn btn-info" href="/arts/detail/<%= doc._id %>">detail</a> 
				<a class="btn btn-warning" href="/arts/edit/<%= doc._id %>">edit</a>  <a class="btn btn-danger" href="/arts/delete/<%= doc._id %>">delete</a></div>
	    	<br/>
	    	<%if(doc.comments.length > 0) { %>
					<% for(var x=0; x<doc.comments.length; x++) {%>
					<font color="red"><%var comment = doc.comments[x]%>
					Author : <%= comment.author%>  , comment: <%= comment.comment%>
					</font>
					<br/>
				<%}%>
			<%}%>
			<hr/>
	   </li>
	<% } %>
	</ul> -->



  </body>
</html>
