<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>  <a href="/arts/new/">NEW</a> </h1>
    <ul>
	<% for(var i=0; i<docs.length; i++) {%>
		<%var doc = docs[i]%>
	   <li>
	    	<p align="center"><b><%= doc.title %> </b> </p> <%= doc.body %>     <div align="right"><a href="/arts/detail/<%= doc._id %>">detail</a>  <a href="/arts/edit/<%= doc._id %>">edit</a>  <a href="/arts/delete/<%= doc._id %>">delete</a></div>
	    	<br/>
	    	<%if(doc.comments.length > 0) { %>
					<% for(var x=0; x<doc.comments.length; x++) {%>
					<font color="red"><%var comment = doc.comments[x]%>
					Author : <%= comment.author%>  , comment: <%= comment.comment%>
					</font>
					<br/>
				<%}%>
			<%}%>
			<hr/>
	   </li>
	<% } %>
	</ul>
  </body>
</html>
